@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  color: #333; }

body {
  font-family: "PingFang SC", Arial, "Microsoft YaHei", sans-serif;
  font-size: 13px;
  background: #f3f3f4;
  overflow-x: hidden;
  color: #676a6c; }

a {
  color: #317eeb;
  text-decoration: none;
  cursor: pointer; }

a:hover,
a:focus,
a:active {
  text-decoration: none; }

ul,
li {
  list-style: none; }

.navbar {
  margin-bottom: 0; }

/** 滚动条样式 **/
::-webkit-scrollbar-track {
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #999; }

.gray-bg {
  background: #f3f3f4; }

.white-bg {
  background: #ffffff; }

.m5 {
  margin: 5px; }

.mt5 {
  margin-top: 5px; }

.mb5 {
  margin-bottom: 5px; }

.pd5 {
  padding: 5px; }

.m10 {
  margin: 10px; }

.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.pd10 {
  padding: 10px; }

.m15 {
  margin: 15px; }

.mt15 {
  margin-top: 15px; }

.mb15 {
  margin-bottom: 15px; }

.pd15 {
  padding: 15px; }

.m20 {
  margin: 20px; }

.mt20 {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

.pd20 {
  padding: 20px; }

.align-center-force {
  text-align: center !important; }

.align-left-force {
  text-align: left !important; }

.align-right-force {
  text-align: right !important; }

.font-bold {
  font-weight: bold; }

input[type=checkbox] {
  position: relative;
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  outline: none;
  cursor: pointer;
  vertical-align: -3px;
  border: 1px solid #999999;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all 0.3s; }

input[type=checkbox]:checked {
  background-color: #fff;
  border: 1px solid #009688; }

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: none; }

input[type=checkbox]:checked:before {
  top: 2.5px;
  left: 2.5px;
  width: 8px;
  height: 5px;
  content: '';
  color: #009688;
  position: absolute;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  margin-top: 3px; }

input[type=checkbox]:hover {
  border: 1px solid #009688; }

input[type=checkbox]:disabled {
  cursor: not-allowed;
  border-color: #ccc;
  background-color: #f7f7f7; }

input[type=checkbox]:disabled:checked {
  border-color: #eeeeee;
  background-color: #eeeeee; }

input[type=checkbox]:disabled:checked:before {
  color: #ccc; }

/* 徽章、标签样式 */
.badge,
.label {
  background-color: #a7a7a7;
  color: #FFFFFF;
  padding: 3px 10px; }

.badge-primary,
.label-primary {
  background-color: #317eeb;
  color: #FFFFFF; }

.badge-success,
.label-success {
  background-color: #1dc5a3;
  color: #FFFFFF; }

.badge-info,
.label-info {
  background-color: #02BAF0;
  color: #FFFFFF; }

.badge-warning,
.label-warning {
  background-color: #f8ac59;
  color: #FFFFFF; }

.badge-danger,
.label-danger {
  background-color: #ed5565;
  color: #FFFFFF; }

/* 通知消息样式 */
.alert-primary {
  color: #317eeb;
  background-color: rgba(49, 126, 235, 0.1);
  border-color: rgba(49, 126, 235, 0.1); }
  .alert-primary .alert-link {
    color: #317eeb; }

.alert-primary.dark {
  color: #fff;
  background-color: #317eeb;
  border-color: #317eeb; }
  .alert-primary.dark .alert-link {
    color: #ffffff; }
  .alert-primary.dark .close {
    color: #fff;
    opacity: 0.5; }

.alert-success {
  color: #1dc5a3;
  background-color: rgba(29, 197, 163, 0.1);
  border-color: rgba(29, 197, 163, 0.1); }
  .alert-success .alert-link {
    color: #1dc5a3; }

.alert-success.dark {
  color: #fff;
  background-color: #1dc5a3;
  border-color: #1dc5a3; }
  .alert-success.dark .alert-link {
    color: #ffffff; }
  .alert-success.dark .close {
    color: #fff;
    opacity: 0.5; }

.alert-info {
  color: #02BAF0;
  background-color: rgba(2, 186, 240, 0.1);
  border-color: rgba(2, 186, 240, 0.1); }
  .alert-info .alert-link {
    color: #02BAF0; }

.alert-info.dark {
  color: #fff;
  background-color: #02BAF0;
  border-color: #02BAF0; }
  .alert-info.dark .alert-link {
    color: #ffffff; }
  .alert-info.dark .close {
    color: #fff;
    opacity: 0.5; }

.alert-warning {
  color: #f8ac59;
  background-color: rgba(248, 172, 89, 0.1);
  border-color: rgba(248, 172, 89, 0.1); }
  .alert-warning .alert-link {
    color: #f8ac59; }

.alert-warning.dark {
  color: #fff;
  background-color: #f8ac59;
  border-color: #f8ac59; }
  .alert-warning.dark .alert-link {
    color: #ffffff; }
  .alert-warning.dark .close {
    color: #fff;
    opacity: 0.5; }

.alert-danger {
  color: #ed5565;
  background-color: rgba(237, 85, 101, 0.1);
  border-color: rgba(237, 85, 101, 0.1); }
  .alert-danger .alert-link {
    color: #ed5565; }

.alert-danger.dark {
  color: #fff;
  background-color: #ed5565;
  border-color: #ed5565; }
  .alert-danger.dark .alert-link {
    color: #ffffff; }
  .alert-danger.dark .close {
    color: #fff;
    opacity: 0.5; }

/*按钮样式*/
.btn-rounded {
  border-radius: 50px; }

.btn:focus, .btn:active, .btn:hover {
  outline: none !important; }

.btn-primary {
  background-color: #317eeb;
  border-color: #317eeb;
  color: #FFFFFF; }
  .btn-primary:focus, .btn-primary:active, .btn-primary.active:focus, .btn-primary.active.focus, .btn-primary.active.hover, .btn-primary.active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary:active.hover, .btn-primary:active:hover, .btn-primary:hover {
    background-color: #347be0;
    border-color: #317eeb; }

.btn-success {
  background-color: #1dc5a3;
  border-color: #1dc5a3;
  color: #FFFFFF; }
  .btn-success:focus, .btn-success:active, .btn-success.active:focus, .btn-success.active.focus, .btn-success.active.hover, .btn-success.active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success:active.hover, .btn-success:active:hover, .btn-success:hover {
    background-color: #18a689;
    border-color: #1dc5a3; }

.btn-info {
  background-color: #02BAF0;
  border-color: #02BAF0;
  color: #FFFFFF; }
  .btn-info:focus, .btn-info:active, .btn-info.active:focus, .btn-info.active.focus, .btn-info.active.hover, .btn-info.active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info:active.hover, .btn-info:active:hover, .btn-info:hover {
    background-color: #02aadc;
    border-color: #02BAF0; }

.btn-warning {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #FFFFFF; }
  .btn-warning:focus, .btn-warning:active, .btn-warning.active:focus, .btn-warning.active.focus, .btn-warning.active.hover, .btn-warning.active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning:active.hover, .btn-warning:active:hover, .btn-warning:hover {
    background-color: #f7a54a;
    border-color: #f8ac59; }

.btn-danger {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #FFFFFF; }
  .btn-danger:focus, .btn-danger:active, .btn-danger.active:focus, .btn-danger.active.focus, .btn-danger.active.hover, .btn-danger.active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger:active.hover, .btn-danger:active:hover, .btn-danger:hover {
    background-color: #ec4758;
    border-color: #ed5565; }

.btn-link {
  outline: none;
  text-decoration: none;
  color: inherit; }
  .btn-link:hover, .btn-link:focus, .btn-link:active {
    text-decoration: none;
    outline: none;
    color: #1dc5a3; }

.btn-outline {
  background: inherit; }
  .btn-outline.btn-primary {
    border: 1px solid #317eeb;
    color: #317eeb; }
    .btn-outline.btn-primary:hover, .btn-outline.btn-primary:active, .btn-outline.btn-primary:focus {
      color: #FFFFFF; }
  .btn-outline.btn-success {
    border: 1px solid #1dc5a3;
    color: #1dc5a3; }
    .btn-outline.btn-success:hover, .btn-outline.btn-success:active, .btn-outline.btn-success:focus {
      color: #FFFFFF; }
  .btn-outline.btn-info {
    border: 1px solid #02BAF0;
    color: #02BAF0; }
    .btn-outline.btn-info:hover, .btn-outline.btn-info:active, .btn-outline.btn-info:focus {
      color: #FFFFFF; }
  .btn-outline.btn-warning {
    border: 1px solid #f8ac59;
    color: #f8ac59; }
    .btn-outline.btn-warning:hover, .btn-outline.btn-warning:active, .btn-outline.btn-warning:focus {
      color: #FFFFFF; }
  .btn-outline.btn-danger {
    border: 1px solid #ed5565;
    color: #ed5565; }
    .btn-outline.btn-danger:hover, .btn-outline.btn-danger:active, .btn-outline.btn-danger:focus {
      color: #FFFFFF; }

.btn-prue {
  background: transparent; }
  .btn-prue.btn-primary {
    border: none;
    color: #317eeb; }
    .btn-prue.btn-primary:hover, .btn-prue.btn-primary:active, .btn-prue.btn-primary:focus {
      color: #FFFFFF; }
  .btn-prue.btn-success {
    border: none;
    color: #1dc5a3; }
    .btn-prue.btn-success:hover, .btn-prue.btn-success:active, .btn-prue.btn-success:focus {
      color: #FFFFFF; }
  .btn-prue.btn-info {
    border: none;
    color: #02BAF0; }
    .btn-prue.btn-info:hover, .btn-prue.btn-info:active, .btn-prue.btn-info:focus {
      color: #FFFFFF; }
  .btn-prue.btn-warning {
    border: none;
    color: #f8ac59; }
    .btn-prue.btn-warning:hover, .btn-prue.btn-warning:active, .btn-prue.btn-warning:focus {
      color: #FFFFFF; }
  .btn-prue.btn-danger {
    border: none;
    color: #ed5565; }
    .btn-prue.btn-danger:hover, .btn-prue.btn-danger:active, .btn-prue.btn-danger:focus {
      color: #FFFFFF; }

.btn-round {
  border-radius: 50px; }

.btn-round-left {
  border-radius: 50px 0 0 50px; }

.btn-round-right {
  border-radius: 0 50px 50px 0; }

/* 面板样式 */
.panel-primary {
  border-color: #317eeb; }
  .panel-primary > .panel-heading {
    color: #fff;
    background-color: #317eeb;
    border-color: #317eeb; }

.panel-success {
  border-color: #1dc5a3; }
  .panel-success > .panel-heading {
    color: #fff;
    background-color: #1dc5a3;
    border-color: #1dc5a3; }

.panel-info {
  border-color: #02BAF0; }
  .panel-info > .panel-heading {
    color: #fff;
    background-color: #02BAF0;
    border-color: #02BAF0; }

.panel-warning {
  border-color: #f8ac59; }
  .panel-warning > .panel-heading {
    color: #fff;
    background-color: #f8ac59;
    border-color: #f8ac59; }

.panel-danger {
  border-color: #ed5565; }
  .panel-danger > .panel-heading {
    color: #fff;
    background-color: #ed5565;
    border-color: #ed5565; }

.panel-default > .panel-heading {
  background-color: #ffffff; }

/* PAGINATIN */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f4f4f4;
  border-color: #DDDDDD;
  color: inherit;
  cursor: default;
  z-index: 2; }

.pagination > li > a,
.pagination > li > span {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 4px 10px;
  position: relative;
  text-decoration: none; }

.pageGo input {
  height: 32px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  display: block;
  float: left; }

.nav > li:hover .dropdown-menu {
  display: block; }

/* 下拉菜单 */
.dropdown-menu {
  border: medium none;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
  border-radius: 0;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.3); }

.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal; }

.dropdown-menu > li > a.font-bold {
  font-weight: 600; }

/*文本标签*/
.text-primary {
  color: #317eeb; }

.text-success {
  color: #1dc5a3; }

.text-info {
  color: #02BAF0; }

.text-warning {
  color: #f8ac59; }

.text-danger {
  color: #ed5565; }

/*表单相关*/
label {
  font-weight: normal; }

.control-label.is-required:before {
  content: '* ';
  color: red; }

.form-control, .single-line {
  background: #FFFFFF none;
  border: 1px solid #e5e6e7;
  border-radius: 3px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 12px; }

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
  box-shadow: none; }

.form-control:focus, .single-line:focus {
  border-color: #8abaff !important; }

.form-control.error {
  border-color: #ffa1ab !important;
  background: #fff2f2; }

.has-success .form-control {
  border-color: #1dc5a3; }
.has-success .control-label {
  color: #1dc5a3; }

.has-warning .form-control {
  border-color: #f8ac59; }
.has-warning .control-label {
  color: #f8ac59; }

.has-error .form-control {
  border-color: #ed5565; }
.has-error .control-label {
  color: #ed5565; }

.input-group-addon {
  background-color: #fff;
  border: 1px solid #E5E6E7;
  border-radius: 1px;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center; }

label.error {
  position: absolute;
  right: 22px;
  top: 10px;
  color: #ef392b;
  font-size: 12px;
  z-index: 99;
  pointer-events: none; }

.arrow {
  float: right;
  margin-top: 2px; }

.fa.arrow:before {
  content: "\f105"; }

.active > a > .fa.arrow:before {
  content: "\f107"; }

/*# sourceMappingURL=common.css.map */
