// 布局变量声明
$head-height:50; //页面头部高度
$left-width:220; //左侧菜单宽度
$left-mini-width:70; //左侧菜单宽度
$tab-height:38;

// 颜色变量声明
$primary-color:#1c84c6;
$success-color:#1dc5a3;
$warning-color:#f8ac59;
$danger-color:#ed5565;
$info-color:#23c6c8;
$primary-hover-color:#1a7bb9;
$success-hover-color:#18a689;
$warning-hover-color:#f7a54a;
$danger-hover-color:#ec4758;
$info-hover-color:#21b9bb;
$colors:(
    primary-color:$primary-color,
    success-color:$success-color,
    warning-color:$warning-color,
    danger-color:$danger-color,
    info-color:$info-color,
    primary-hover-color:$primary-hover-color,
    success-hover-color:$success-hover-color,
    warning-hover-color:$warning-hover-color,
    danger-hover-color:$danger-hover-color,
    info-hover-color:$info-hover-color
);

$type-list: primary success info warning danger;

$size-list: 5 10 15 20;
