<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.mapper.SysOperateLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.basic.entity.SysOperateLog">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="method" property="method" />
        <result column="request_type" property="requestType" />
        <result column="oper_type" property="operType" />
        <result column="oper_user_id" property="operUserId" />
        <result column="oper_user_name" property="operUserName" />
        <result column="oper_user_account" property="operUserAccount" />
        <result column="oper_time" property="operTime" />
        <result column="oper_url" property="operUrl" />
        <result column="oper_ip" property="operIp" />
        <result column="oper_location" property="operLocation" />
        <result column="oper_param" property="operParam" />
        <result column="result_param" property="resultParam" />
        <result column="state" property="state" />
        <result column="error_msg" property="errorMsg" />
    </resultMap>

</mapper>
